version: 5.0.0.beta2.{build}-{branch}

image:
  - Visual Studio 2022
  - macos-monterey

clone_depth: 1

matrix:
  fast_finish: false

for:
  - matrix:
      only:
        - image: Visual Studio 2022

    init:
      - cmd: SET MINGW64_PATH=msys64/mingw64
      - cmd: SET MINGW32_PATH=msys64/mingw32
      - cmd: SET PATH=C:/%MINGW64_PATH%/bin/;C:/%MINGW32_PATH%/bin/;C:/msys64/usr/bin/;%PATH%
      - cmd: SET MSSDK_HOME=/c/Program Files (x86)/Windows Kits/10/Lib/10.0.22621.0
      - cmd: SET JAVA_HOME=/c/Program Files/Java/jdk21

    install:
      - cmd: bash -lc "pacman --noconfirm --disable-download-timeout -S gradle pactoys"
      - cmd: bash -lc "pacboy --noconfirm --disable-download-timeout -S lcms2:m libraw:m lensfun:m ntldd-git:m pkg-config:m"

    build_script:
      - cmd: bash -lc "cd /c/projects/lightzone/ && MINGW_DIR=/c/$MINGW64_PATH gradle windows:jpackage -x test"

    artifacts:
      - path: "windows/build/jpackage/LightZone-Installer*.msi"
        name: windows installers

  - matrix:
      only:
        - image: macos-monterey

    init:
      - sh: export JAVA_HOME=/Library/Java/JavaVirtualMachines/liberica-jdk-21-full.jdk/Contents/Home
      - sh: export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig

    install:
      - sh: HOMEBREW_NO_AUTO_UPDATE=1 brew install gradle lensfun libjpeg-turbo libomp libraw libtiff libxml2 little-cms2 rsync
      - sh: rm /usr/local/bin/ccmake /usr/local/bin/cmake /usr/local/bin/cpack /usr/local/bin/ctest
      - sh: HOMEBREW_NO_AUTO_UPDATE=1 brew tap bell-sw/liberica
      - sh: HOMEBREW_NO_AUTO_UPDATE=1 brew install --cask liberica-jdk21-full

    build_script:
      - sh: gradle macosx:jpackage -x test

    artifacts:
      - path: "macosx/build/jpackage/LightZone-Installer*.dmg"
        name: macos installers
