!**/GNUMakefile
!**/lightzone*
**/.gradle
**/.vscode
**/build
**/java_jni
**/javah
**/out
**/products
**/release
*.0
*.a
*.cache
*.bak
*.d
*.db
*.dll
*.dylib
*.exe
*.hhc
*.jar
*.jnilib
*.la
*.lo
*.log
*.nib
*.o
*.orig
*.rej
*.res
*.so
*.srctrl*
*.status
*.swp
*.tlog
*~
-
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr
Java.runtime
debian/*.debhelper
debian/*.substvars
debian/DEBIAN
debian/files
debian/lightzone
lightcrafts/coprocesses/*/Debug
lightcrafts/coprocesses/*/Release
lightcrafts/coprocesses/*/x64
lightcrafts/coprocesses/dcraw/\.pc/*.patch
lightcrafts/extbuild
lightcrafts/jnisrc/**/*config\.h
lightcrafts/jnisrc/**/arch-*
lightcrafts/jnisrc/**/configure
out
windows/helpers/JavaAppLauncher/LightZone.ico
windows/helpers/JavaAppLauncher/jar_md5_include
windows/md5sums
windows/output.txt
windows/updates.xml
