*.o
*.d
*.a
*.la
*.lo
*.so
*.jar
*.exe
*.dll
*.iml
.idea/**
lightcrafts/build
lightcrafts/extbuild
lightcrafts/products
lightcrafts/jnisrc/*/javah
lightcrafts/jnisrc/*/*/arch-unknown
lightcrafts/jnisrc/tiff/*/Makefile
lightcrafts/jnisrc/tiff/*/*/Makefile
lightcrafts/jnisrc/tiff/*/*/*/Makefile
lightcrafts/jnisrc/tiff/*/*/*/*/Makefile
lightcrafts/jnisrc/tiff/*/*/*/*/*/Makefile
lightcrafts/jnisrc/jpeg/libjpeg/jpeg-6b/Makefile
lightcrafts/jnisrc/jpeg/libjpeg/jpeg-6b/config.log
lightcrafts/jnisrc/jpeg/libjpeg/jpeg-6b/config.status
lightcrafts/jnisrc/jpeg/libjpeg/jpeg-6b/jconfig.h
lightcrafts/jnisrc/tiff/libtiff/tiff-3.8.2/config.log
lightcrafts/jnisrc/tiff/libtiff/tiff-3.8.2/config.status
lightcrafts/jnisrc/tiff/libtiff/tiff-3.8.2/libtiff/.libs/
lightcrafts/jnisrc/tiff/libtiff/tiff-3.8.2/libtiff/mkg3states
lightcrafts/jnisrc/tiff/libtiff/tiff-3.8.2/libtiff/stamp-h1
lightcrafts/jnisrc/tiff/libtiff/tiff-3.8.2/libtiff/stamp-h2
lightcrafts/jnisrc/tiff/libtiff/tiff-3.8.2/libtiff/tif_config.h
lightcrafts/jnisrc/tiff/libtiff/tiff-3.8.2/libtiff/tiffconf.h
lightcrafts/jnisrc/tiff/libtiff/tiff-3.8.2/libtool
lightcrafts/jnisrc/tiff/zlib/zlib-1.2.3/zconf.h
linux/build/
linux/help/build/
linux/jnisrc/libLinux/javah/
linux/products/LightZone-forkd
linux/products/dcraw
windows/build
windows/error.log
windows/helpers/eSellerateInstaller/eWebClient.lib
windows/helpers/eSellerateInstaller/eWebLibrary.h
windows/helpers/JavaAppLauncher/jar_md5_include
windows/helpers/JavaAppLauncher/LightZone.ico
windows/helpers/JavaAppLauncher/lightzone.res
windows/jnisrc/*/javah
windows/jnisrc/libESD/eSellerate.cpp
windows/md5sums
windows/output.txt
windows/products
windows/updates.xml

