*.o
*.d
*.a
*.la
*.lo
*.so
*.jar
*.exe
*.dll
*.iml
*.jnilib
*.dylib
*.nib
.idea/**
lightcrafts/build
lightcrafts/extbuild
lightcrafts/products
lightcrafts/jnisrc/*/javah
lightcrafts/jnisrc/*/*/arch-*
lightcrafts/jnisrc/tiff/*/Makefile
lightcrafts/jnisrc/tiff/*/*/Makefile
lightcrafts/jnisrc/tiff/*/*/*/Makefile
lightcrafts/jnisrc/tiff/*/*/*/*/Makefile
lightcrafts/jnisrc/tiff/*/*/*/*/*/Makefile
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/Makefile
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/Makefile.in
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/aclocal.m4
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/config.*
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/configure
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/depcomp
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/install-sh
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/jconfig.h
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/ltmain.sh
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/missing
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/*/Makefile
lightcrafts/jnisrc/jpeg/libjpeg/libjpeg-turbo-1.2.90/*/Makefile.in
lightcrafts/jnisrc/tiff/libtiff/tiff-4.0.3/config.log
lightcrafts/jnisrc/tiff/libtiff/tiff-4.0.3/config.status
lightcrafts/jnisrc/tiff/libtiff/tiff-4.0.3/libtiff/.libs/
lightcrafts/jnisrc/tiff/libtiff/tiff-4.0.3/libtiff/mkg3states
lightcrafts/jnisrc/tiff/libtiff/tiff-4.0.3/libtiff/stamp-h1
lightcrafts/jnisrc/tiff/libtiff/tiff-4.0.3/libtiff/stamp-h2
lightcrafts/jnisrc/tiff/libtiff/tiff-4.0.3/libtiff/tif_config.h
lightcrafts/jnisrc/tiff/libtiff/tiff-4.0.3/libtiff/tiffconf.h
lightcrafts/jnisrc/tiff/libtiff/tiff-4.0.3/libtool
lightcrafts/jnisrc/tiff/zlib/zlib-1.2.7/zconf.h
lightcrafts/jnisrc/tiff/zlib/zlib-1.2.7/configure.log
linux/build/
linux/help/build/
linux/jnisrc/libLinux/javah/
linux/products/LightZone-forkd
linux/products/dcraw
windows/build
windows/error.log
windows/helpers/JavaAppLauncher/jar_md5_include
windows/helpers/JavaAppLauncher/LightZone.ico
windows/helpers/JavaAppLauncher/lightzone.res
windows/jnisrc/*/javah
windows/md5sums
windows/output.txt
windows/products
windows/updates.xml
debian/*.debhelper
debian/*.substvars
debian/*.log
debian/DEBIAN
debian/lightzone
debian/files
macosx/build/
macosx/jnisrc/libMacOSX/javah/
macosx/products/LightZone-forkd
macosx/products/dcraw
