<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleAllowMixedLocalizations</key>
        <false/>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>LightZone</string>
        <key>CFBundleHelpBookFolder</key>
        <string>LightZone_Help</string>
        <key>CFBundleHelpBookName</key>
        <string>LightZone Help</string>
        <key>CFBundleIconFile</key>
        <string>LightZone.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.lightcrafts.LightZone</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>LightZone</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>LCLZ</string>
        <key>CFBundleVersion</key>
        <string>4.2.5</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>jpe</string>
                    <string>jpg</string>
                    <string>jpeg</string>
                </array>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>CFBundleTypeName</key>
                <string>JPEG Image</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSHandlerRank</key>
                <string>Owner</string>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>tif</string>
                    <string>tiff</string>
                </array>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>CFBundleTypeName</key>
                <string>TIFF Image</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSHandlerRank</key>
                <string>Owner</string>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>arw</string>
                    <string>cr2</string>
                    <string>crw</string>
                    <string>dcr</string>
                    <string>dng</string>
                    <string>kdc</string>
                    <string>mos</string>
                    <string>mrw</string>
                    <string>nef</string>
                    <string>orf</string>
                    <string>pef</string>
                    <string>raf</string>
                    <string>raw</string>
                    <string>rw2</string>
                    <string>sr2</string>
                </array>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>CFBundleTypeIconFile</key>
                <string>LightZoneFile.icns</string>
                <key>CFBundleTypeName</key>
                <string>Camera Raw Image</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>com.lightcrafts.lzt</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>LightZone Transform Format</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSHandlerRank</key>
                <string>Owner</string>
            </dict>
        </array>
        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>com.lightcrafts.lzn</string>
                <key>UTTypeDescription</key>
                <string>LightZone Transform Format</string>
                <key>UTTypeIconFile</key>
                <string>LightZoneFile.icns</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>lzn</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>com.lightcrafts.lzt</string>
                <key>UTTypeDescription</key>
                <string>LightZone Transform Format</string>
                <key>UTTypeIconFile</key>
                <string>LightZoneFile.icns</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>lzt</string>
                    </array>
                </dict>
            </dict>
        </array>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.photography</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.11</string>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright 2005-2011 Light Crafts, Inc. All Rights Reserved. Copyright 2013- The LightZone Project. All Rights Reserved.</string>
        <key>NSHighResolutionCapable</key>
        <true/>
    </dict>
</plist>
<!-- vim:set et sw=4 ts=4: -->
