[Desktop Entry]
Version=3.9.1
Name=LightZone
Comment=Interactive post-processing tool for scanned pages
Exec=lightzone
#Icon=/usr/share/lightzone/LightZone_16.png
Type=Application
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;ImageProcessing;
StartupNotify=true
