#!/usr/bin/make -f

JAVA_HOME:=$(shell readlink -f /usr/bin/javac | sed "s:/bin/javac::")
ANT_OPTIONS=-f $(CURDIR)/linux/build.xml

build: build-stamp
build-stamp:
	dh_testdir
	JAVA_HOME=$(JAVA_HOME) ant $(ANT_OPTIONS) jar
	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_testdir
	dh_testroot
	JAVA_HOME=$(JAVA_HOME) ant $(ANT_OPTIONS) clean
	dh_clean

binary: binary-arch binary-indep
.PHONY: build clean binary-arch binary-indep binary install

